* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg
    }

}

.box {
    color: white;
    max-width: 60vw;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border: 0px solid rgba(0, 0, 0, 0);
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, black, rgb(255, 0, 98), black) border-box;
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgb(255, 0, 98);
    text-shadow: 0 0 0px rgb(255, 0, 98);

}

.box:hover {
    color: rgb(255, 0, 98);
    text-shadow: 0 0 10px rgb(255, 0, 98);
    animation-play-state: running;
    border-width: 10px;
     transition: all 0.3s linear;
    box-shadow: 0 0 50px rgb(255, 0, 98);
    
}

.box img {
    width: 100%;
}